.notification {
    position: absolute;
    display: none;
    bottom: 2vw;
    right: 1.5vw;
    background-color: rgb(48, 124, 245);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 270px;
    opacity: 0;
    transition: 0.5s;

}

.notification.active {
    display: flex;
    opacity: 1;
}

.notification__message {
    color:rgb(255, 255, 255);
    padding: 10px;
}
