@import "./variables.scss";

.toolbar {
    height: $toolbar-height;
    background-color: rgb(243, 254, 255);
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 5px 5px -5px #333;
    z-index: 99;

    &__btn {
        height: 25px;
        width: 25px;
        border: none; 
        outline: none;
        cursor: pointer;
        background-size: cover;
        margin-left: 1vw;
    }

    .brush {
        background: url("../assets/img/brush.png") no-repeat center center;
    }

    .clear {
        background: url("../assets/img/clear.png") no-repeat center center;
    }

    .rect {
        background: url("../assets/img/rect.png") no-repeat center center;
    }

    .circle {
        background: url("../assets/img/circle.png") no-repeat center center;
    }

    .eraser {
        background: url("../assets/img/eraser.png") no-repeat center center;
    }

    .line {
        background: url("../assets/img/line.png") no-repeat center center;
    }

    .undo {
        margin-left: auto;
        background: url("../assets/img/undo.png") no-repeat center center;
    }

    .redo {
        background: url("../assets/img/redo.png") no-repeat center center;
    }

    .save {
        background: url("../assets/img/save.png") no-repeat center center;
        margin-right: 10px;
    }
}

.setting-bar {
    height: $toolbar-height;
    background-color: rgb(246, 254, 255);
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    box-shadow: 0 -5px 5px -5px #333;
    width: 100%;
    bottom: 1px;
    
    &__btn {
        height: 35px;
        width: 35px;
        border: none; 
        outline: none;
        cursor: pointer;
        background-size: cover;
        margin-left: 1vw;
    }

    .setBack {
        position: relative;
        margin: auto;
        margin-right: 0.5vw;
        background: url("../assets/img/setBackground.png") no-repeat center center;
    }

    .logout {
        margin-left: auto;
        margin-right: 1vw;
        position: relative;
        background: url("../assets/img/logout.png") no-repeat center center;
    }

    .logout:hover::before {
        content: "Logout";
        display: flex;
        position: absolute;
        top: -2.2em;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.5em;
        font-size: 0.8em;
        background-color: rgba(64, 64, 64, 0.7);
        color: #fff;
        border-radius: 0.25em;
        white-space: nowrap;
      }

      .setBack:hover::before {
        content: "Upload image";
        display: flex;
        position: absolute;
        top: -2.2em;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.5em;
        font-size: 0.8em;
        background-color: rgba(64, 64, 64, 0.7);
        color: #fff;
        border-radius: 0.25em;
        white-space: nowrap;
      }
}

.mid-group {
    display: flex;
    position: absolute;
    justify-content: center; 
    align-items: center;
}


.counter {
    margin-left: 1vw;
    display: block;
    position: relative;
    left:0;

  }
  
  .counter::before {
    content: "";
    width: 15px;

    height: 15px;
    border-radius: 50%;
    background-color: rgb(77, 211, 77);
    display: inline-block;
    margin-right: 5px;
  }
  

